datagrip:
  dl:
    retries: 1
    interval: 30
  linux:
    #Enable Debian alternatives feature by setting nonzero 'altpriority' value here.
    #Increase same value on each subsequent software installation.
    altpriority: 0
  prefs:
    user: undefined_user
    #group:
    #See https://intellij-support.jetbrains.com/hc/en-us/community/posts/115000132064-How-can-I-import-data-sources-from-DataGrip-to-IDEA-
    xmlurl:
    xmldir:
    xmlfile: datagrip-settings.xml
 
