[Desktop Entry]
Encoding=UTF-8
Name=Jetbrains DataGrip
Comment=JetBrains DataGrip (databases tool)
Icon={{ home }}/{{ command.split('.')[0] }}.png
Exec={{ home }}/{{ command }}
Terminal=false
Type=Application
